body
	font-size 16px

section
	margin 3em 1em
	//border 1px solid black
	//overflow hidden
	padding 2em 1em
	position relative
	height 10em
header
	text-align center
footer
	margin-top 40%
	background black
	color white
	text-align center
	padding 1em 0
	p
		margin 0.2em 0
		span
			color green
.bolas
	//width 3em
	//height 3em
	border-radius 50%
	border 1px solid black
	text-align center
	padding 0.5em
	background black
	
	//font-size 3em
	//padding-top 1em

.letra
	font-size 2em
	color white
.reflejos
	display none
	background indigo
.mytimes
	display block
	
#bola1
	position absolute
	top 0.2em
	left 1em
#bola2
	position absolute
	top 0.2em 
	right 1em
#bola3
	position absolute
	top 3em
	left 1em
#bola4
	position absolute
	top 3em
	right 1em
	
#play
	background green
	border-radius 5px
	padding 0.3em 1em
#timesReactions
	text-align center
	margin-top 0
	h3
		border-bottom 1px solid red
		width 6em
		margin 0 auto
	.mytimes
		margin-top 2em